<div class="container">
    <img src="~/images/faleconosco1.jpg"  alt="Fale Conosco"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tem dúvidas, sugestões ou precisa de ajuda, estamos aqui para ajudar. 
        </p>

        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>

            <h5><email endereco="slpedro21@outlook.com" conteudo="Enviar um email"></email></h5>
            <br />

            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>

            <h5>(14) 99668-6352</h5>
            <br />

            <span>
                <img src="~/images/Home-iconred.png" />
            </span>

            <h5>Rua Fernão Salles, 285 - Barra Bonita (SP) </h5>
        </p>


    </div>


</div>