@model HomeViewModel

<partial name="_Carousel"/>

<h2>Bebidas favoritas</h2>

<div class="row">
    @foreach(var bebida in Model.BebidasPreferidas)
    {
        <partial name="_BebidasResumo" for="@bebida"/>
    }
</div>