<div id="carouselBebidas" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" >
        <div class="carousel-item active">
            <img src="~/images/amarulaCarousel.webp"
                 alt=""
                 class="img-fluid mx-auto d-block"
                 style="max-width:400px; height:auto;">
        </div>
        <div class="carousel-item">
            <img src="~/images/askovCarousel.jpg"
                 alt=""
                 class="img-fluid mx-auto d-block"
                 style="max-width:400px; height:auto;">
        </div>
        <div class="carousel-item">
            <img src="~/images/casilleroCarousel.webp"
                 alt=""
                 class="img-fluid mx-auto d-block"
                 style="max-width:400px; height:auto;">
        </div>
        <div class="carousel-item">
            <img src="~/images/delreiCarousel.png"
                 alt=""
                 class="img-fluid mx-auto d-block"
                 style="max-width:400px; height:auto;">
        </div>
        <div class="carousel-item">
            <img src="~/images/jackCarousel.jpg"
                 alt=""
                 class="img-fluid mx-auto d-block"
                 style="max-width:400px; height:auto;">
        </div>
        <div class="carousel-item">
            <img src="~/images/cuervoCarousel.webp"
                 alt=""
                 class="img-fluid mx-auto d-block"
                 style="max-width:400px; height:auto;">
        </div>
        <div class="carousel-item">
            <img src="~/images/pergolaCarousel.png"
                 alt=""
                 class="img-fluid mx-auto d-block"
                 style="max-width:400px; height:auto;">
        </div>
        <div class="carousel-item">
            <img src="~/images/licor43Carousel.png"
                 alt=""
                 class="img-fluid mx-auto d-block"
                 style="max-width:400px; height:auto;">
        </div>
        <div class="carousel-item">
            <img src="~/images/sheridansCarousel.jpg"
                 alt=""
                 class="img-fluid mx-auto d-block"
                 style="max-width:400px; height:auto;">
        </div>
        <div class="carousel-item">
            <img src="~/images/whiteCarousel.png"
                 alt=""
                 class="img-fluid mx-auto d-block"
                 style="max-width:400px; height:auto;">
        </div>
        <div class="carousel-item">
            <img src="~/images/ginCarousel.png"
                 alt=""
                 class="img-fluid mx-auto d-block"
                 style="max-width:400px; height:auto;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselBebidas" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselBebidas" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>