<div id="carouselLanches" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/Amarula.png" class="d-block w-100 img-fluid" alt="">
        </div>
        <div class="carousel-item">
            <img src="~/images/Askov.png" class="d-block w-100 img-fluid" alt="">
        </div>
        <div class="carousel-item">
            <img src="~/images/blacklabel.png" class="d-block w-100 img-fluid" alt="">
        </div>
        <div class="carousel-item">
            <img src="~/images/Casillero.png" class="d-block w-100 img-fluid" alt="">
        </div>
        <div class="carousel-item">
            <img src="~/images/DelRei.png" class="d-block w-100 img-fluid" alt="">
        </div>
        <div class="carousel-item">
            <img src="~/images/Jackdaniels.png" class="d-block w-100 img-fluid" alt="">
        </div>
        <div class="carousel-item">
            <img src="~/images/Josecuervo.png" class="d-block w-100 img-fluid" alt="">
        </div>
        <div class="carousel-item">
            <img src="~/images/Licor43.png" class="d-block w-100 img-fluid" alt="">
        </div>
        <div class="carousel-item">
            <img src="~/images/Pergola.png" class="d-block w-100 img-fluid" alt="">
        </div>
        <div class="carousel-item">
            <img src="~/images/Seagers.png" class="d-block w-100 img-fluid" alt="">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLanches" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLanches" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>